<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center">User Data</h1>
    <hr>
    <div style="text-align: center">
        <% data.map((val,index)=>{%>

        <h1>Name: <%= val.fullName%></h1>
        <h1>Email: <%= val.email%></h1>
        <h1>Password: <%= val.password%></h1>
        <br>
    <% }) %>

    </div>
    
</body>
</html>